    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: cursive;
        background-image: url(../img/nubes2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    /* Header */
    
    .logo {
        width: 140px;
        margin-left: 60px;
        box-shadow: none;
    }
    /* nav */
    
    header {
        position: relative;
        background-color: aquamarine;
        height: 15vh;
        width: 100vw;
    }
    
    .menu-responsive {
        position: absolute;
        cursor: pointer;
        top: 20px;
        right: 25px;
        font-size: 42px;
        color: #411678;
        display: none;
    }
    
    h1 {
        position: absolute;
        color: rgb(65 22 120);
        top: 1.7rem;
        left: 2rem;
    }
    
    nav ul {
        position: absolute;
        top: 0.3rem;
        right: 0;
        margin: 10px;
    }
    
    nav ul li {
        display: inline-block;
        margin: 18px;
        font-size: 1.2rem;
        font-weight: 600;
    }
    
    nav ul li a {
        text-decoration: none;
        color: rgb(65 22 120);
    }
    
    .submenu {
        position: relative;
    }
    
    ul ul {
        position: absolute;
        width: 100%;
        top: 0.8rem;
        left: .5;
        display: none;
        background-color: lightblue;
    }
    
    ul ul li {
        display: block;
    }
    
    ul li:hover ul {
        display: block;
    }
    /* main */
    
    .banner {
        height: 400px;
        width: 100vw;
        background-image: url(../img/globos.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    /* imagenes */
    
    img {
        width: 80%;
        height: 80%;
    }
    
    p {
        padding: 10px;
        font-size: 25px;
        color: #411678;
        font-weight: 800;
        transform: translateX(25deg);
    }
    
    a {
        text-decoration: none;
    }
    
    .container {
        display: grid;
        grid-template-columns: repeat(2, .4fr);
        gap: 50px;
        justify-content: center;
        align-items: center;
    }
    
    .container_img {
        display: flex;
        justify-self: center;
        flex-direction: column;
        align-items: center;
        width: 95%;
    }
    /* footer */
    
    footer {
        background-color: aquamarine;
        padding: 1.5rem;
        margin-top: 2rem;
        text-align: center;
        padding: 5px;
        border-top: 15px;
        width: 100vw;
    }
    
    footer div {
        color: rgb(65 22 120);
        font-size: 15px;
        text-align: center;
    }
    
    .fa-whatsapp {
        color: white;
        font-size: 2rem;
        background-color: #3ec34f;
        padding: 0.6rem;
        border-radius: 50%;
        position: fixed;
        bottom: 4%;
        right: 3%;
    }
    
    .fa-facebook-square {
        font-size: 2rem;
    }
    
    .fa-instagram-square {
        font-size: 2rem;
    }
    
    .column {
        display: grid;
        grid-template-columns: repeat(4, 200px);
        align-items: center;
        justify-content: center;
        row-gap: 25px;
        margin-top: 20px;
        margin-bottom: -10px;
        text-align: center;
    }
    
    .nosotros {
        border: double 5px;
        margin: 10px;
        width: 60%;
        text-align: center;
    }
    
    .nube {
        width: 100px;
        height: 80px;
    }
    
    .div-nube {
        display: flex;
        justify-content: center;
    }
    
    .div-nos {
        display: flex;
        justify-content: center;
    }
    /* contacto */
    
    .formContainer {
        background-color: rgb(237, 247, 248);
        width: 50vw;
        margin: 3rem auto;
        padding: 1.5rem 1rem;
        border-radius: 0.5rem;
        box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 30%);
    }
    
    .formContainer__title {
        color: rgb(65 22 120);
        font-size: 1.5rem;
        text-align: center;
        margin: 1.5rem;
    }
    
    .form {
        text-align: center;
    }
    
    .form__label {
        color: rgb(65 22 120);
        font-weight: 600;
        text-align: left;
        display: inline-block;
        width: 60%;
    }
    
    .form__input {
        width: 60%;
        margin: 0.5rem;
        padding: 0.5rem;
        background-color: #fff;
        border: none;
        border-bottom: solid 2px rgb(65 22 120);
        color: rgb(65 22 120);
        font-size: 1.2rem;
        font-family: cursive;
    }
    
    .form__textarea {
        width: 60%;
        margin: 0.5rem;
        padding: 0.5rem;
        background-color: #fff;
        border: none;
        border-bottom: solid 2px black;
        color: rgb(65 22 120);
        font-size: 1rem;
        font-family: cursive;
        height: 5rem;
        resize: none;
    }
    
    .form__input--submit {
        background-color: rgb(230, 75, 75);
        color: rgb(65 22 120);
        font-weight: 600;
        cursor: pointer;
        border-radius: 0.3rem;
    }
    
    .form__input:focus,
    .form__textarea {
        outline: none;
    }
    
    .form__input--submit:hover {
        background-color: rgb(201, 65, 65);
    }
    
    @media (max-width: 768px) {
        /*Tamaño mediano*/
        .container {
            grid-template-columns: repeat(2, 170px);
        }
        nav ul {
            display: none;
        }
        .banner {
            height: 320px;
        }
        /* productos responsive */
        .column {
            grid-template-columns: repeat(2, 200px);
        }
        .menu-responsive {
            position: absolute;
            cursor: pointer;
            top: 20px;
            right: 25px;
            font-size: 42px;
            color: #411678;
            display: inline;
        }
        .formContainer {
            width: 90vw;
        }
    }
    
    @media (max-width: 425px) {
        .container {
            grid-template-columns: repeat(1, 200px);
        }
        .banner {
            height: 320px;
        }
        /* productos responsive */
        .column {
            grid-template-columns: repeat(1, 200px);
        }
    }